* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slider-container {
    width: 50rem;
    height: auto;
}

.slider-container img {
    width: 100%;
}